.avatar-container {
  display: flex;
  justify-content: center;
  margin:2rem;
}

#about-me { background: rgb(2,0,36);
background: linear-gradient(71deg, rgba(2,0,36,1) 0%, rgba(38,70,83,1) 66%, rgba(167,69,91,1) 100%);
}